* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    
}

a:hover {
    color: rgb(206, 82, 37);


}

ul {
    list-style: none;
}

body {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 30px;
}

.container {
margin: 0 auto;
width: 1440px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

i {
    font-size: 30px;
}

.logo {
    font-size: 30px;
    color: #fff;
}

.links-list, .social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-list {
    gap: 20px;
}

.nav-link {
    padding: 20px 20px;
   
}

.links-list>li {
    border-right: 1px solid #fff;
}



.photo-container {
    width: 100%;
    height: 80vh;
} 
.header-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
 }

.about-me {
    position: relative;
}

.text {
    position: absolute;
    left: 72%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    
}

 h1 {
    text-transform: uppercase;
    position: relative;
    animation: text 4s 1;
    font-size: 40px;
    color: rgb(206, 82, 37);
}


.my-projects {
    padding: 100px;
}

.project-list {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.project-item {
    width: 25%;
    height: 350px;
}

.project-photo {
    width: 100%;
    height: 100%;
}

.project-item > a > p {
    text-align: center;
}

address, .fa-envelope, .fa-mobile-screen {
    color: #fff;
}

address {
    font-size: 20px;
    text-transform: none;
    font-style: normal;
}

footer {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacts {
    display: block;
}

.tel, .mail {
    padding: 10px;;
}


@keyframes text {
    0% {
        color:  rgb(241, 231, 231); 

 
    }

    30%  {
      
        color: rgb(241, 231, 231); 
 
       
    }

  
}

.small-text {
    position: absolute;
    width: 400px;
    bottom: 120px;
    right: 220px;
    font-size: 20px;
}

